.unselected
{
    background-color: rgb(70, 68, 68);
    color:white;
    border-radius: 0px;
    border-color: transparent !important;
    
    
}
.unselected:hover{
    background-color: rgb(80, 79, 79) !important;
    border-color: transparent !important;
    
  
}

.selected
{
    background-color: rgb(53, 86, 197);
    color:white;
    border-radius: 0px;
    border-color: transparent !important;

    
    
}
.selected:hover{
    background-color: rgb(38, 119, 212) !important;
    border-color: transparent !important;
    
  
}


