<div class="bg">
        <div class="ui-g-12" style="width: 80%;
        margin-top:20px;
            font-size: 26px;
            margin-left: 10%;
            text-align: center;
            ">
             <div class="ui-md-12 ui-xl-12 ui-lg-12">
                 <h1 style="text-align: center;color:black;font-weight: 100;"><img src="https://img.icons8.com/ultraviolet/45/000000/home.png"> DATAHUB</h1>
      
             </div>
      
          <p-card header="I forgot the password">
            <div class="ui-g ui-fluid">
              <hr style="height:2px;width:100%;" />
              <form #myForm="ngForm" (ngSubmit)="submit(myForm.value)" style="width:100%;">
                <div class="ui-g">
                  <div class="ui-md-2 ui-xl-3 ui-lg-3"></div>
                  <div class="ui-md-8 ui-xl-6 ui-lg-6 ui-sm-12">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon" style="width:30%;font-size:15px; font-weight: bold;">Email</span>
                      <input type="email"  required [(ngModel)]="email" name="email" pInputText />
                    </div>
                  </div>
                </div>
               
                <div style="margin-top:10px" class="ui-g">
                  <div class="ui-md-3 ui-xl-3 ui-lg-3"></div>
                  <div class="ui-md-6 ui-xl-6 ui-lg-6 ui-sm-12">
                    <button class="ui-button-info" [disabled]="myForm.invalid"
                    pButton type="submit" label="Generate new password"
                      style="margin-top: 0px;width:100%; font-weight: bold;"></button>
                  </div>
                </div>
               
              </form>
            </div>
          </p-card>
        </div>
      </div> 