<div class="ui-g" style="width: 100%;
            font-size: 26px;
            text-align: center;
            margin-top: 20px;
            ">
    <div class="ui-lg-3 ui-md-3 ui-xl-3"></div>
    <div class="ui-lg-4  ui-xl-4 ui-md-4">
        <div style="text-align: center;color:black;font-weight: 100;">
            <img src="https://img.icons8.com/ultraviolet/45/000000/home.png"> <span> DATAHUB
            </span></div>
    </div>

    <div class="ui-lg-5 ui-xl-5 ui-md-5">
        <img src="https://img.icons8.com/metro/26/000000/user-male-circle.png">
        <span style="font-size:18px;color:rgb(43, 41, 41)"> Admin@gmail.com</span>
        <p-dropdown #dd [style]="{fontSize: '18px',margin:'10px'}" (onChange)="dropdownchange(dd)"
            [dropdownIcon]="'pi pi-sort-amount-down-alt'" [options]="dropItems" [(ngModel)]="selectedOption">
        </p-dropdown>
    </div>


</div>

<p-card [style]="{textAlign:'center',marginTop:'10px'}" header="Change Password">
    <div class="ui-g ui-fluid">
        <hr style="height:2px;width:100%;" />
        <form style="width:100%;" #myForm="ngForm" (ngSubmit)="login(myForm.value)">
            <div class="ui-g">

                <div class="ui-g-1"></div>
                <div style="border:1px solid black;" class="ui-g-10 ui-md-10 ui-sm-12">
                    <p  style="text-align: right"><img
                        style="cursor: pointer;" (click)="routeToMainComponent()"   src="https://img.icons8.com/windows/24/000000/cancel.png"></p>



                    <div class="ui-g">
                        <div class="ui-md-2 ui-lg-3"></div>
                        <div class="ui-md-8 ui-lg-6 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"
                                    style="width:30%;font-size:15px; font-weight: bold;">Current password</span>
                                <input type="password"  style="font-size:24px" [(ngModel)]="password" required name="password" pInputText />
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:10px" class="ui-g">
                        <div class="ui-md-2 ui-lg-3"></div>
                        <div class="ui-md-8 ui-lg-6 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"
                                    style="width:30%;font-size:15px; font-weight: bold;">New Password</span>
                                <input type="password" style="font-size:24px" required [(ngModel)]="newPassword" name="newPassword" pInputText />
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:10px" class="ui-g">
                        <div class="ui-md-2 ui-lg-3"></div>
                        <div class="ui-md-8 ui-lg-6 ui-sm-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"
                                    style="width:30%;font-size:15px; font-weight: bold;">Confirm Password</span>
                                <input type="password"  style="font-size:24px" required [(ngModel)]="confirmPassword" name="confrimpass" pInputText />
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:20px" class="ui-g">
                        <div class="ui-md-3 ui-lg-3"></div>
                        <div class="ui-md-6 ui-lg-6 ui-sm-12">
                            <button [disabled]="myForm.invalid" class="ui-button-info" pButton type="submit"
                                label="Save" style="margin-top: 0px;width:100%; font-weight: bold;"></button>
                        </div>
                    </div>
                   

                </div>
            </div>


        </form>
    </div>
</p-card>